.profile-user {
    width: 100%;
<<<<<<< HEAD
    height: 100vh;
=======
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
>>>>>>> b198995dfc8a355ef4653d697cb2f562c63ceb6d
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}

<<<<<<< HEAD

=======
>>>>>>> b198995dfc8a355ef4653d697cb2f562c63ceb6d
.user-text h1 {
    color: #fff;
    font-size: 3rem;
    transition: .3s ease;
}

.user-text p {
    color: #ddd;
    font-size: 1.2rem;
    transition: .3s ease;
}

<<<<<<< HEAD
.user-img {
    position: relative;
    visibility: hidden;
}

.user-img img {
    width: 300px;
    transition: .3s ease;
}

=======
>>>>>>> b198995dfc8a355ef4653d697cb2f562c63ceb6d
.user-img::before {
    position: absolute;
    content: '';
    width: 300px;
    height: 300px;
<<<<<<< HEAD
    background-color: #42c3ff88;
    border-radius: 50%;
    filter: blur(50px);
    bottom: -10px;
    z-index: -1;
}

=======
    background-color: #42c3ffc4;
    border-radius: 50%;
    filter: blur(100px);
    -webkit-filter: blur(100px);
    bottom: -20px;
    z-index: -1;
}

.user-img img {
    width: 300px;
    transition: .3s ease;
}

>>>>>>> b198995dfc8a355ef4653d697cb2f562c63ceb6d
.user-text p {
    margin-bottom: 10px;
}

.user-text button {
    background: rgb(116, 185, 240);
    background: linear-gradient(90deg, rgba(116, 185, 240, 1) 0%, rgba(9, 132, 227, 1) 100%);
    background-position: 0% 0%;
    color: #fff;
    padding: .8rem 2rem;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Nunito Sans', sans-serif;
    position: relative;
    display: flex;
    align-items: center;
    gap: .4rem;
}


.user-text button::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    height: 100%;
    background-color: rgba(116, 184, 240, 0.171);
    transition: .3s 100ms ease;
    border-radius: 4px;
}

.user-text button:hover::before {
    border-radius: 4px;
    width: 100%;
}

.user-text button svg {
    transition: .3s ease;
}

.user-text button:hover svg {
    transform: rotate(90deg);
}

@media (max-width: 1160px) {
    .profile-user {
        gap: 4rem;
    }

    .user-text h1 {
        font-size: 2.5rem;
    }

    .user-img img {
        width: 250px;
    }
}

@media (max-width: 910px) {
    .profile-user {
        gap: 2rem;
    }

    .user-text h1 {
        font-size: 2rem;
    }

    .user-text p {
        font-size: 1.1rem;
    }

    .user-img img {
        width: 200px;
    }
}

@media (max-width: 768px) {

    .profile-user {
        width: 90%;
        height: 100%;
    }

    .user-text {
        position: absolute;
        top: 10rem;
    }

    .user-img {
        position: absolute;
        bottom: 2rem;
    }

    .user-img::before {
        left: -20%;
    }

    .user-text button {
        padding: 0.6rem 1.6rem;
    }

}

@media (max-width: 375px) {

    .user-text h1 {
        font-size: 1.7rem;
    }

    .user-text {
        top: 7rem;
    }

    .profile-user {
        width: 90%;
        height: 100%;
    }

}

@media (max-width: 320px) {

    .user-text h1 {
        font-size: 1.4rem;
    }

    .user-text p {
        font-size: .8rem;
    }

    .user-text {
        top: 7rem;
    }

    .profile-user {
        width: 90%;
        height: 100%;
    }

}

@media (max-height: 653px) {
    .user-img img {
        width: 180px;
    }

    .user-text h1 {
        font-size: 1.3rem;
    }

    .user-text p {
        font-size: .9rem;
    }

    .user-img::before {
        width: 250px;
        height: 250px;
    }
}